{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Titulo{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">RepositorioOA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
        {% block objetA%}
      <li class="nav-item">
        <a class="nav-link" href="#">Objetos Aprendizaje</a>
      </li>
        {% endblock %}
      <li class="nav-item">
        <a class="nav-link" href="#">Acerca de..</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post" action="/objetos/buscar">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" placeholder="Objeto" name="buscado">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
      <li><a href="{% url 'logout' %}">Salir</a></li>
  </div>
</nav>
{% block cabeza %}
<h4>Esta es la cabeza</h4>
{% endblock %}

{% block content %}
<h4>Esta es el content</h4>
{% endblock %}

{% block pie %}
<h4>Esta es el pie</h4>
{% endblock %}

</body>
</html>