{% load staticfiles %}

<html>
{% block title %}
{% endblock %}
{% block navbar%}
{% endblock %}
{% block content %}
<body background="{% static 'img/fondo3.jpg'%}" no-repeat>

<br>
<br>
<br>
<br>

<table ALIGN=center width="400" cellspacing="1" cellpadding="5" border="0" >

<tr>
	<br>
	<br>
	<br>
	<br>

   <td bgcolor="SILVER">
   <font face="arial, verdana, helvetica">
   <form method="post">
	{% csrf_token %}
	 <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
				<img src="{% static 'img/login1.jpg'%}" align="center" border="1">
				<br>
				<br>
				<img src="{% static 'img/user.jpg'%}" align="left" border="1">
        		<label for="username">
					Nombre de usuario:</label>
        		<br><input class="form-control" type="text" name="username">
    	   </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
				<br>
				<br>
				<img src="{% static 'img/pasw.jpg'%}" align="left" border="1">
        		<label for="username">
				Contraseña:</label>
        		<br><input class="form-control" type="password" name="password">
    	   </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
				<br>
				<center><button class="btn btn-primary"  href="{%url 'repositorio:home'%}" type="submit">Ingresar</button></center>
				<p class="login__signup">No tienes una cuenta aún? &nbsp;
					<a href="{% url 'usuario:crearU' %}">Registrarse</a>
				</p>



    	   </div>
        </div>
    </div>
</form>
   </font>
   </td>
</tr>
</table>





</body>

{% endblock %}
</html>