{% extends 'base/base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>VIDEO</title>
</head>
<body>
{% block content %}
<h2><font color="White">Herramientas adicionales</font></h2>


<br><font color="white">Una plataforma educativa engloba a diferentes tipos de herramientas destinadas a fines docentes.Su principal funcion es facilitar la creacion de entornos virtuales para impartir todo tipo de formaciones a traves de internet.
Estos programas permiten hacer tareas como: organizar contenido, realizar mapas conceptuales, editar videos, editores graficos realizar cuestionarios entre otras tareas.</font>
<br>
<br>

    <font color="lightYellow">A continuación algunas herramientas adicionales</font>


<br>
<br>

<img src="{% static 'img/gr1.jpg'%}" align="left" border="2" style="margin-right:20px"/>
<font color="lightYellow" style="text-align:justify">

    <br>Lucidchart es una herramienta de diagramación basada en la web, que permite a los usuarios colaborar y trabajar juntos en tiempo real,
    <br>creando diagramas de flujo, organigramas, esquemas de sitios web, diseños UML, mapas mentales, prototipos de software y muchos otros
    <br>tipos de diagrama.
</font>

<h6>Link https://www.lucidchart.com/</h6>
<br>
<br>

<br>
<br>
<br>

<img src="{% static 'img/gr2.jpg'%}" align="left" border="2" style="margin-right:20px"/>
<font color="lightYellow" style="text-align:justify">

    <br>Zoho Survey es una herramienta de creación de encuestas en línea , lanzada el 1 de julio de 2013.
    <br>Es parte de un conjunto más grande de aplicaciones basadas en la nube (" software como servicio "), Zoho Office Suite. Zoho Survey
    <br>ofrece a sus usuarios encuestas ilimitadas, gratuitas y personalizables , que se pueden iniciar desde varios dispositivos. También
    <br>proporciona a sus usuarios individuales y empresariales funciones avanzadas como soporte multilingüe , encuestas de marca, informes
    <br>avanzados y la capacidad de compartir, revisar y colaborar en encuestas.
</font>

<h6>https://www.zoho.com/es-xl/survey/</h6>

<br>
<br>
<br>

<img src="{% static 'img/gr3.jpg'%}" align="left" border="2" style="margin-right:20px"/>
<font color="lightYellow" style="text-align:justify">

    <br>Evernote Web es un editor de texto que también permite capturar web, fotos, archivos de vídeo y audio o documentos PDF. Todo el contenido
    <br>se sincroniza para las diferentes plataformas de este mismo producto.
</font>

<h6>https://evernote.com/intl/es/</h6>

<br>
<br>
<br>
<br>
<br>
<br>

<img src="{% static 'img/gr4.jpg'%}" align="left" border="2" style="margin-right:20px"/>
<font color="lightYellow" style="text-align:justify">

    <br>Emaze es una plataforma de presentación en línea basada en HTML5 tecnología. Los usuarios pueden crear, gestionar y compartir sus presentaciones
    <br>a través de su sede en la nube SaaS sistema. emaze ofrece una variedad de plantillas, incluyendo formatos utilizando animaciones 3D y fondos de vídeo.
</font>

<h6>https://www.emaze.com/es/</h6>


<br>
<br>
<br>
<br>
<br>
<br>

<img src="{% static 'img/gr5.jpg'%}" align="left" border="2" style="margin-right:20px"/>
<font color="lightYellow" style="text-align:justify">

    <br>Podomatic es un servicio gratuito en internet que permite crear tu web/blog de una manera muy sencillla y además con la posibilidad de adjuntar archivos.
    <br>En este caso de audio (mp3, ogg, wav...) ¿Imaginas poder tener un "registro" de tus programas emitidos, una pequeña ficha en texto y los mismos programas
    <br>en mp3? Pues eso es Podomatic.

    <br>Podomatic permite subir hasta 500 Mb a tu cuenta. Si economizas bien los audios sale a casi ¡¡18 programas de una hora de duración!! y tiene una capacidad de
    <br>transferencia mensual de 15 Gb.
</font>

<h6>https://www.podomatic.com/</h6>


{% endblock %}


</body>
</html>






