
{% extends 'base/base.html' %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>VIDEO</title>
</head>
<body>
{% block content %}
<h2>
    <font color="Khaki">¿Quienés somos?</font>
    </h2>
<br>
<font color="Lavender" >Somos un grupo de estudiantes que aprovechando las estrategias de aprendizaje virtual y presencial,
fomentamos la enseñanza orientada a la formación y capacitación de personas en empresas e instituciones educativas.</font>


<br>
<br>

<h2>
    <font color="khaki">¿Nuestra Filosofía?</font></h2>


    <br>
<font color="lavender">El aprendizaje es un cambio en las habilidades y valores de la persona. Aprender implica actuar, resolver problemas, utilizando el cuerpo y la razón. Aprendemos porque deseamos mejorar nuestro
    entorno y cambiar para bien. Por ello, Objetos de Aprendizaje tiene como propósito apoyar a las
    personas y empresas para que mejoren su entorno, su trabajo y su vida. Para nosotros, vivir es aprender.</font>

<br>
<br>
<br><font color="lavender">A continuación un video de como se crear objetos en ExeLearning</font>
<center><iframe width="640" height="360" src="https://www.youtube.com/embed/wPhgqCPsN7k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
{% endblock %}


</body>
</html>