
{% extends 'base/base.html' %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>VIDEO</title>
</head>
<body>
{% block content %}
<h2></h2>
<center><h2>ExeLearning</h2></center>

<br>ExeLearning es uno de los editores de recursos educativos utilizados en todo
<br>el mundo debido a su gratuidad y además por ser interactivo.
<br>exelearning ofrece una amplia
<br>
<br>
<iframe width="640" height="360" src="https://www.youtube.com/embed/wPhgqCPsN7k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{% endblock %}


</body>
</html>